.gallery{
    width: 100%;
    max-height: 750px;
    overflow: scroll;
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none; 
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
        &::-webkit-scrollbar {
            width: 0px;
            background: transparent; /* make scrollbar transparent */
        }
}