
.header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__nav{
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;
        gap: 1.5rem;
        flex-wrap: wrap;

        &--link{
            font-size: .9rem;
            font-weight: 500;
            line-height: 142.6%;
            color: $primary-color;
            text-transform: uppercase;

            &:hover{
                text-decoration: underline;
            }
        }
    }
}